<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.mihealthgaodefix">

    <application
        android:label="Mi Fitness Amap Nav Fix"
        android:allowBackup="false"
        android:supportsRtl="true">
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
        <!-- Legacy Xposed module metadata (recognized by LSPosed as well) -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Fix Mi Fitness blocking Amap navigation notifications" />
        <meta-data android:name="xposedminversion" android:value="93" />
    </application>

</manifest>
