<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.mihealthamapfix">

    <application
        android:label="MiHealth AmapFix"
        android:description="@string/module_description"
        android:allowBackup="false"
        android:supportsRtl="true">
        <meta-data android:name="xposedscope" android:value="com.mi.health" />
        <!-- Legacy Xposed module metadata (recognized by LSPosed as well) -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:resource="@string/module_description" />
        <meta-data android:name="xposedminversion" android:value="93" />
    </application>

</manifest>
